body{
	background-color: #5D9CEC;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	padding: 20px;
	width: 600px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#picture-parent{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#pic1-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 300px;
	padding: 30px;
	background-color: #040303;
}

#pic2-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 300px;
	padding: 30px;
	background-color: #040303;
}

#pic3-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 300px;
	padding: 30px;
	background-color: #040303;
}

#pic1{
	border-radius: 10px;
	width: 300px;
}

#pic2{
	border-radius: 10px;
	width: 300px;
}

#pic3{
	border-radius: 10px;
	width: 300px;
}

#barChartSection{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.6);
	width: 1080px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px

}

#pieChartSection{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.6);
	width: 1080px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px
}

#barChart{
	border-radius: 10px;

}

#pieChart{
	border-radius: 10px;

}

#instructions{
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	padding: 20px;
	width: 1080px;

}

#playAgain {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5D9CEC), color-stop(1, #B6D3FA));
  background:-moz-linear-gradient(top, #5D9CEC 5%, #B6D3FA 100%);
  background:-webkit-linear-gradient(top, #5D9CEC 5%, #B6D3FA 100%);
  background:-o-linear-gradient(top, #5D9CEC 5%, #B6D3FA 100%);
  background:-ms-linear-gradient(top, #5D9CEC 5%, #B6D3FA 100%);
  background:linear-gradient(to bottom, #5D9CEC 5%, #B6D3FA 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D9CEC', endColorstr='#B6D3FA',GradientType=0);
  background-color:#5D9CEC;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:25px;
  border:1px solid #5D9CEC;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  text-transform: uppercase;
  padding:6px 24px;
  text-decoration:none;
  box-shadow: inset 0 0 0 0 ##D3D3D3;
  transition: all ease 0.7s;
}
.myButton:hover {
	box-shadow: inset 290px 0 0 0 #efefef;
}
.myButton:active {
	position:relative;
	top:1px;
}
